<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotionDecoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MovementDecoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <MotionDecoder.Properties.Settings>
            <setting name="filters" serializeAs="String">
                <value>All video files|*.avi;*.mkv;*.mov;*.mp4;*.wmv;*.3gp; *.flv; *.,mpeg; *.ts; *.m2ts; *.rm; *.rmvb; *.ogm; *.webm|AVI|*.avi|MKV|*.mkv|MOV|*.mov|MP4|*.mp4|WMV|*.wmv|FLV|*.flv|MPEG|*.,mpeg|TS|*.ts|M2TS|*.m2ts|RM|*.rm|MVB|*.rmvb|OGM|*.ogm|WebM|*.webm|All files|*.*</value>
            </setting>
            <setting name="threshold" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="duration" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="volume" serializeAs="String">
                <value>-1000</value>
            </setting>
            <setting name="showMessage" serializeAs="String">
                <value>True</value>
            </setting>
        </MotionDecoder.Properties.Settings>
        <MovementDecoder.Properties.Settings>
            <setting name="filters" serializeAs="String">
                <value>All video files|*.avi;*.mkv;*.mov;*.mp4;*.wmv;*.3gp; *.flv; *.,mpeg; *.ts; *.m2ts; *.rm; *.rmvb; *.ogm; *.webm|AVI|*.avi|MKV|*.mkv|MOV|*.mov|MP4|*.mp4|WMV|*.wmv|FLV|*.flv|MPEG|*.,mpeg|TS|*.ts|M2TS|*.m2ts|RM|*.rm|MVB|*.rmvb|OGM|*.ogm|WebM|*.webm|All files|*.*</value>
            </setting>
            <setting name="threshold" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="duration" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="volume" serializeAs="String">
                <value>-1000</value>
            </setting>
            <setting name="showMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="videoPlayerSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="darkTheme" serializeAs="String">
                <value>False</value>
            </setting>
        </MovementDecoder.Properties.Settings>
    </userSettings>
</configuration>